html {box-sizing: border-box;}
*, ::before, ::after {box-sizing: inherit;}

h1, h2, h3, h4 {
    margin-top: 20;
    margin-bottom: 10px;
    text-align: center;
}


/* -------------- PODBARVENÃ PRO REGISTRACI A LOGIN -------------------------- */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
  }
/* ------- NAVBAR ------------------------------------- */
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-bar button {
    margin: 5px 0;
  }

@media (min-width: 600px) {
    .nav-bar {
      flex-direction: row;
      justify-content: space-between;
    }
  }
/* -----------------HOME ------------------------------------------------------ */
.home-page {
    text-align: center; 
    padding: 20px; 
    padding-top: 80px;
    min-height: 100vh; 
    position: relative;
    background-image: url('/images/tlapky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
  pointer-events: none;
}

.home-page > * {
  position: relative;
  z-index: 3; 
}

.home-page p {
  margin-bottom: 40px; 
  line-height: 1.4; 
}
.home-page h1 {
  margin-bottom:30px;
}

.home-page button {
  margin: 5px 0; 
}




/* ------  CAT  ----------------------------------------------------------- */
.cats-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 80px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cats-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.cats-page > * {
position: relative;
z-index: 3; 
}

.cats-header {
    margin-bottom: 20px;
  }

.cat-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.cat-card:hover {
    transform: scale(1.05);
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    
  }

.cat-image {
    width: 200px;             
    height: 200px;           
    object-fit: cover;   
    border-radius: 50%;       
    margin: 10px 10px auto;     
}

.cat-info {
    display: flex;
    flex-direction: column;   
    align-items: center;  
    padding: 10px;
}

.cat-info h2 {
    margin: 0;                
    font-size: 1.5em;        
}

.cat-info p {
    margin: 5px 0 0;          
    color: #555;              
}

.cats-offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 20px;
  }

  @media (min-width: 600px) {
    .header-container {
      flex-direction: row;
      justify-content: space-between;
    }
    .cat-image {
       
        width: 200px;             
        height: 200px;           
        object-fit: cover;   
        border-radius: 50%;       
        margin: 10px 10px auto;     
    }
  
    .cats-offer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .cats-offer {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .add-cat-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

  .add-cat-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.add-cat-card:hover {
    transform: scale(1.05);
}

.add-cat-card .cat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-cat-card input,
.add-cat-card textarea,
.add-cat-card button {
    width: 100%;
    max-width: 300px;
    margin: 5px 0;
    padding: 8px;
}

.add-cat-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.add-cat-card button:hover {
    background-color: #0056b3;
}

/* ---  DOG  ----------------------------------------------------------- */
.dogs-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 80px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dogs-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.dogs-page > * {
position: relative;
z-index: 3; 
}

.dogs-header {
    text-align: center;
    margin-bottom: 20px;
  }

.dog-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.dog-card:hover {
    transform: scale(1.05);
  }

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.dog-image {
    width: 200px;             
    height: 200px;           
    object-fit: cover;   
    border-radius: 30%;       
    margin: 10px 10px auto;     
}

.dog-info {
    display: flex;
    flex-direction: column;   
    align-items: center;  
    padding: 10px;
}

.dog-info h2 {
    margin: 0;                
    font-size: 1.5em;         
}

.dog-info p {
    margin: 5px 0 0;          
    color: #555;              
}

.dogs-offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 20px;
  }

  @media (min-width: 600px) {
    .header-container {
            flex-direction: row;
            justify-content: space-between;
          }
  
    .dogs-offer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .dogs-offer {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .add-dog-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-dog-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.add-dog-card:hover {
    transform: scale(1.05);
}

.add-dog-card .dog-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-dog-card input,
.add-dog-card textarea,
.add-dog-card button {
    width: 100%;
    max-width: 300px;
    margin: 5px 0;
    padding: 8px;
}

.add-dog-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.add-dog-card button:hover {
    background-color: #0056b3;
}

/* ----- ANIMAL DETAIL ------------------------------------------------*/
.animalDetail-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 80px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
}

.animalDetail-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.animalDetail-page > * {
position: relative;
z-index: 3; 
}

.animal-image {
  width: 300px;             
  height: 300px;           
  object-fit: cover;        
  border-radius: 30%;       
  margin-right: 20px;      
}

/* ----- CATS RESERVATION ------------------------------------------------*/
.catReservation-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 50px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.catReservation-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.catReservation-page > * {
position: relative;
z-index: 3; 
}

/* ----- DOGS RESERVATION ------------------------------------------------*/
.dogReservation-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 50px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dogReservation-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.dogReservation-page > * {
position: relative;
z-index: 3; 
}

/* ---  GIFT  ----------------------------------------------------------- */
.gifts-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 80px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gifts-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.gifts-page > * {
position: relative;
z-index: 3; 
}

.gifts-header {
    text-align: center;
    margin-bottom: 20px;
  }

.gift-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.gift-card:hover {
    transform: scale(1.05);
  }

  .gifts-page p {
    margin: 5px 0; 
    line-height: 1.2;
    text-align: center;
}
.gifts-page h1 {
  margin-bottom: 30px;
}
.gifts-page p:last-of-type {
  margin-bottom: 50px; 
}
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

.gift-image {
    width: 150px;             
    height: 200px;           
    object-fit: cover;   
    border-radius: 50%;       
    margin: 10px 10px auto;     
}

.gift-info {
    display: flex;
    flex-direction: column;   
    align-items: center;  
    padding: 10px;
}

.gift-info h2 {
    margin: 0;                
    font-size: 1.5em;        
}

.gift-info p {
    margin: 5px 0 0;          
    color: #555;              
}

.gifts-offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  @media (min-width: 600px) {
    .header-container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .gifts-offer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .gifts-offer {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .add-gift-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


  .add-gift-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.add-gift-card:hover {
    transform: scale(1.05);
}

.add-gift-card .gift-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-gift-card input,
.add-gift-card textarea,
.add-gift-card button {
    width: 100%;
    max-width: 300px;
    margin: 5px 0;
    padding: 8px;
}

.add-gift-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.add-gift-card button:hover {
    background-color: #0056b3;
}

/* ---  ACTIONS ----------------------------------------------------------- */
.actions-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 80px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.actions-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.actions-page > * {
position: relative;
z-index: 3; 
}

.action-card {
    border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.action-card:hover {
    transform: scale(1.05);
  }
.actions-page h1 {
    margin-bottom: 50px; 
}

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

.action-image {
    width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
  margin: 10px auto;     
}

.action-info {
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; 
}

.action-info h2 {
    margin: 0;                
    font-size: 1.5em;        
}

.action-info p {
    margin: 5px 0 0;          
    color: #555;              
}

.actions-offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    
  }
  
  @media (min-width: 600px) {
    .header-container {
      flex-direction: row;
      justify-content: space-between;
    }}
    @media (min-width: 600px) {
    .actions-offer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .actions-offer {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .add-action-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

  .add-action-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.add-action-card:hover {
    transform: scale(1.05);
}

.add-action-card .action-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-action-card input,
.add-action-card textarea,
.add-action-card button {
    width: 100%;
    max-width: 300px;
    margin: 5px 0;
    padding: 8px;
}

.add-action-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.add-action-card button:hover {
    background-color: #0056b3;
}

/* --------- CONTACT ------------------------- */
.contacts-page {
  text-align: center; 
  padding: 20px; 
  padding-top: 80px;
  min-height: 100vh; 
  position: relative;
  background-image: url('/images/tlapky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contacts-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.95);
z-index: 1;
pointer-events: none;
}

.contacts-page > * {
position: relative;
z-index: 3; 
}

.contacts-offer {
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin: 5px 0; 
  line-height: 1.3;
}
.contacts-page h1 {
  margin-bottom: 30px; 
}

.contacts-offer h2 {
  margin-top: 20px; 
  margin-bottom: 5px; 
}

.contacts-offer p {
  margin: 2px 0; 
  line-height: 1.2;
  
}
.contacts-offer p:nth-of-type(5) {
  margin-bottom: 20px; 
}

.contacts-offer p:nth-of-type(n+6) {
  margin-top: 5px; 
}


/* --- BUTTONS ----------------------------------------------------------- */
button[type="submit"], .form-field button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover, .form-field button:hover {
    background-color: #0056b3;
  }
  
  @media (min-width: 600px) {
    .form-field button {
      width: auto;
    }
  }
  